@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vt323/v18/pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
}
@keyframes flicker {
  0% {
    opacity: 0.15795;
  }
  5% {
    opacity: 0.31511;
  }
  10% {
    opacity: 0.94554;
  }
  15% {
    opacity: 0.2469;
  }
  20% {
    opacity: 0.62031;
  }
  25% {
    opacity: 0.0293;
  }
  30% {
    opacity: 0.00899;
  }
  35% {
    opacity: 0.5344;
  }
  40% {
    opacity: 0.12778;
  }
  45% {
    opacity: 0.52042;
  }
  50% {
    opacity: 0.3823;
  }
  55% {
    opacity: 0.2198;
  }
  60% {
    opacity: 0.9383;
  }
  65% {
    opacity: 0.86615;
  }
  70% {
    opacity: 0.68695;
  }
  75% {
    opacity: 0.55749;
  }
  80% {
    opacity: 0.96984;
  }
  85% {
    opacity: 0.0361;
  }
  90% {
    opacity: 0.24467;
  }
  95% {
    opacity: 0.08351;
  }
  100% {
    opacity: 0.54813;
  }
}


.ratio {
  position: relative;
  /*
  width:80%;
  height:0;
  padding-bottom:65%;
  */
  width: 30vw;
  height: 25vw;
  
  margin: 0 auto;
}

.case {
  position: absolute;
  width: 100%;
  height: 100%;
}
.monitor {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FAEBD7;
  border-radius: 4px;
  box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.5), inset 0 0 5px 2px rgba(0, 0, 0, 0.7);
}
.screen {
  position: absolute;
  top: 4%;
  right: 4%;
  bottom: 10%;
  left: 4%;
  background: radial-gradient(circle at center, #383838 5%, #101010 100%);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: inset 0 0 25px 30px #000000, 0 0 2px 4px #000000;
}

.screen:after {
  content: "";
  position: absolute;
  top: 4%;
  right: 4%;
  bottom: 10%;
  left: 4%;
}
.overlay:before {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.5) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 3px, 6px 100%;
}
.overlay:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  animation: flicker 0.3s infinite;
  background: rgba(16, 16, 16, 0.2);
}
.content {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 20%;
  padding: 5% 2%;
  margin: 0;
  font-size: 15px;
  color: #00dd00;
  font-family: 'VT323', Courier New;
}