
body {

	--cursor-stroke: #f0ebeb;
    --cursor-fill: #000;
    --cursor-stroke-width: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


a {
	 outline: none;
	 cursor: pointer;
}
 a:hover, a:focus {
	 outline: none;
}
 .menu {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 text-align: right;
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 counter-reset: menucounter;
}
 .menu__item {
	 flex: none;
	 display: flex;
	 justify-content: flex-end;
	 position: relative;
	 padding-left: 5rem;
}
 .menu__item::before {
	 counter-increment: menucounter;
	 content: counters(menucounter, ".", decimal-leading-zero);
	 position: absolute;
	 left: 0;
	 border-left: 3px solid currentColor;
	 top: 20%;
	 height: 60%;
	 padding-left: 1rem;
	 display: flex;
	 align-items: center;
	 line-height: 1;
	 font-weight: bold;
	 opacity: 0;
	 transform: translateX(-1rem);
	 transition: transform 0.3s, opacity 0.3s;
}
 .menu__item:hover::before {
	 opacity: 1;
	 transform: translateX(0);
}
 .menu__item:hover .menu__item-textinner {
	 color: var(--color-menu-hover);
}
 .menu__item:hover .menu__item-sub {
	 opacity: 1;
	 transform: translateX(0);
}
 .menu__item:hover .menu__item-sub::before {
	 transform: rotate(22.5deg) scale3d(1, 1, 1);
}
 .menu__item-text {
	 position: relative;
	 cursor: pointer;
	 padding: 0.5rem;
	 display: block;
	 overflow: hidden;
	 font-size: 1vw;
}
 .menu__item-textinner {
	 display: block;
	 font-family: goldenbook, serif;
	 
	 text-transform: uppercase;
	 white-space: nowrap;
	 color: var(--color-menu);
}
 .menu__item-sub {
	 display: flex;
	 text-transform: uppercase;
	 font-weight: bold;
	 white-space: nowrap;
	 align-items: center;
	 position: relative;
	
	 opacity: 0;
	 transform: translateX(-1rem);
	 transition: transform 0.3s, opacity 0.3s;
}
 .menu__item-sub::before {
	 content: '';
	 position: absolute;
	 left: 0;
	
	 background: currentColor;
	 transform-origin: 0 100%;
	 transform: rotate(22.5deg) scale3d(1, 0, 1);
	 transition: transform 0.3s;
}
 .hover-reveal {
	 position: absolute;
	 z-index: -1;
	 width: 200px;
	 height: 200px;
	 top: 0;
	 left: 0;
	 pointer-events: none;
	 opacity: 0;
}
 .hover-reveal__inner {
	 overflow: hidden;
}
 .hover-reveal__inner, .hover-reveal__img {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 border-radius: 20px;
}
 .hover-reveal__img {
	 background-size: cover;
	 background-position: 50% 50%;
}
 .cursor {
	 display: none;
}
 @media (any-pointer: fine) {
	 .cursor {
		 position: fixed;
		 top: 0;
		 left: 0;
		 display: block;
		 pointer-events: none;
		 z-index: 10;
	}
	 .cursor__inner {
		 fill: var(--cursor-fill);
		 stroke: var(--cursor-stroke);
		 stroke-width: var(--cursor-stroke-width);
		 opacity: 0.3;
	}
	 .credits {
		 padding-left: 5vw;
	}
}


