@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family:'poppins', sans-serif;
        
    
}

:root{
    --bg-color:#111;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}

html{
    font: size 62.5%;
    overflow-x: hidden;
}


body{
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh
}

section{
  min-height: 105vh;
  padding: 6rem 9% 2rem;
}




.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 1.8rem;
    color:var(--text-color);
    font-weight:600;
    cursor:default;

}
.navbar a {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left:1rem;
    cursor: pointer
}

.navbar a:hover,
.navbar a.active{
    color:var(--main-color)
}

#menu-icon {
    font-size: 2.6rem;
    color:yellow;
    display: none; 
    
}

.home{
    width: 100%;
    height: 100vh;
  display:flex;
  justify-content:space-between;
  align-items:center;  
}
.home-img{
    width: 510px;
    height:510px;
    animation: floatImage 4s ease-in-out infinite;
}

.home-img .glowing-circle{
    position: relative;
    width:110%;
    height:110%;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


 
.image img{
    position: absolute;
    top: -10px;
    left: -280px;
    max-width: 750px;
    object-fit: cover;
    mix-blend-mode: color-burn;
    
}

.glowing-circle .image{
    position: relative;
    width: 500px;
    height:500px;
    border-radius: 80%;
    z-index: 1;
    overflow: hidden;
     
}

@keyframes example {
  0% {
    -webkit-filter: saturate(8);
    filter: saturate(8);
    left: 500px;
  }
  25% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
    right: 500px;
  }
  50% {
    -webkit-filter: invert(.8);
    filter: invert(.8);
    top: 500px;
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
    bottom:500px;
  }
}

.glich:hover {
   position: relative;
  animation-name: example;
  animation-duration: 300ms;
  cursor: pointer;
}















@keyframes floatImage{
    0%{
        transform:translateY(0)
    }
  50% {
      transform: translateY(-2.4rem)
  }
        100% {
            transform: translateY(0)
        }




}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100;
    background: black;
}
.home-content h3{
    font-size: 2.5rem;
    font-weight: 700;
}

home-content h3 :nth-of-type(2){
   margin-bottom: 2rem;
}

span{
  animation-name:example;
  animation-duration:60s;
  animation-iteration-count:infinite;}
  @keyframes example {
  0%   {color: rgb(200,0,0);}
  25%  {color: rgb(200,200,0);}
  50%  {color: rgb(0,0,200);}
  100% {color: rgb(0,200,0);}

}


.home-content h1 {
    font-size: 6.2rem;
    font-weight: 900;
    line-height: 1.3;
}

home-content p{
    font-size: 1.6rem
}

.social-media a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border:.3rem solid rgb(30, 30, 29);
    border-radius:60%;
    font-size: 20px;
    color: var(--main-color);
    margin:3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.social-media a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.social-media a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.social-media a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}




.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 0.6rem;
    color: var(--second-bg-color);
    letter-spacing:.1rem;
    font-weight: 600;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

}

/* BUTTON GLITCH */
.btn,
.btn:after {
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #d8e8ea 3%, #97a8a8 5%, #91c0ca47 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-image: url("../img/qq.jpg");
}


.about-img img{
    width:20vw;
}

.heading{
    text-align: center;
    font-size: 2.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.0rem;

}

.about-content p {
    font-size: 1.1rem;
    margin:2rem 0 3rem;
}



.services  h2 {
    margin-bottom: 0rem;
}
 
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}




.portfolio{
   overflow-x: hidden;
    background-size: cover;
}



.bg {
  position: fixed;
   
  
  background: var(--bg-color) url('') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

















.portfolio h2  {
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3.5rem ;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

 .portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
 }

 .portfolio-box:hover img{
  transform: scale(1.1);  
 }
 .portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1)), var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 5rem;
    transform: translateY(100%);
    transition: .5s ease;
 }

  .portfolio-box .portfolio-layer{
    transform: translateY(0%);
  }
 
.portfolio-layer h4{
    font-size: 1.5rem;
} 

 .portfolio-layer p{
    font-size: 0.6rem;
    margin: .3rem 0 1rem;
 }

 .portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
 }
 .portfolio-layer a i{
   font-size: 1.5rem; 
 }




/*footer */

 .footer {
     position: relative;
     width: 100%;
     background: #000;
     min-height: 50px;
     padding: 20px 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     opacity: 10px;
 }

  .footer p {
     color: #fff;
     margin: 15px 0 10px 0;
     font-size: 1rem;
     font-weight: 300;
 }



 #wrap
{
	width: 100%;
	height: 10%;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#lightings
{
	bottom: -60px;
	position: absolute;
	width: 100%;
}



#one
{
	/*animation*/
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes 
one { from {
-webkit-box-shadow: 0 0 250px 20px #473C78;
}

to { -webkit-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-moz-keyframes 
one { from {
-moz-box-shadow: 0 0 250px 20px #473C78;
}

to { -moz-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-o-keyframes 
one { from {
-o-box-shadow: 0 0 250px 20px #473C78;
}

to { -o-box-shadow: 0 0 100px 15px #F72A3B; }
}

@keyframes 
one { from {
box-shadow: 0 0 250px 20px #473C78;
}

to {box-shadow: 0 0 100px 15px #F72A3B; }
}

#two
{
	width: 90%;
	/*animation*/
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes 
two { from {
-webkit-box-shadow: 0 0 250px 20px #18C499;
}

to { -webkit-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-moz-keyframes 
two { from {
-moz-box-shadow: 0 0 250px 20px #18C499;
}

to { -moz-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-o-keyframes 
two { from {
-o-box-shadow: 0 0 250px 20px #18C499;
}

to { -o-box-shadow: 0 0 100px 15px #D8F05E; }
}

@keyframes 
two { from {
box-shadow: 0 0 250px 20px #18C499;
}

to { box-shadow: 0 0 100px 15px #D8F05E; }
}

#three
{
	width: 80%;
	/*animation*/
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes 
three { from {
-webkit-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -webkit-box-shadow: 0 0 100px 15px #3E33FF; }
}
@-moz-keyframes 
three { from {
-moz-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -moz-box-shadow: 0 0 100px 15px #3E33FF }
}
@-o-keyframes 
three { from {
-o-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -o-box-shadow: 0 0 100px 15px #3E33FF }
}

@keyframes 
three { from {
box-shadow: 0 0 250px 20px #FFDD00;
}

to { box-shadow: 0 0 100px 15px #3E33FF }
}

#four
{
	width: 70%;
	/*animation*/
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes 
four { from {
-webkit-box-shadow: 0 0 250px 20px #781848;
}

to { -webkit-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-moz-keyframes 
four { from {
-moz-box-shadow: 0 0 250px 20px #781848;
}

to { -moz-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-o-keyframes 
four { from {
-o-box-shadow: 0 0 250px 20px #781848;
}

to { -o-box-shadow: 0 0 100px 15px #F2BBE9; }
}

@keyframes 
four { from {
shadow: 0 0 250px 20px #781848;
}

to { shadow: 0 0 100px 15px #F2BBE9; }
}

#five
{
	width: 60%;
	/*animation*/
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes 
five { from {
-webkit-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -webkit-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-moz-keyframes 
five { from {
-moz-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -moz-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-o-keyframes 
five { from {
-o-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -o-box-shadow: 0 0 100px 15px #F4F6AD; }
}

@keyframes 
five { from {
box-shadow: 0 0 250px 20px #42F2A1;
}

to { box-shadow: 0 0 100px 15px #F4F6AD; }
}












 
 
 
 @keyframes animateWaves {
     0% {
         background-position-x: 1000px;
     }

     100% {
         background-positon-x: 0px;
     }
 }

 @keyframes animate {
     0% {
         background-position-x: -1000px;
     }

     100% {
         background-positon-x: 0px;
     }
 }

/*footer scroolbar*/
::-webkit-scrollbar {
    width:15px;
    height: 6px; 
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: #c2c9d2;
  }



::-webkit-scrollbar-track {
    background: #1C1C1E;
}

::-webkit-scrollbar-thumb {
    background: #7a7875;
}

::-webkit-scrollbar-thumb:hover {
    background: #025680;
}










/*skill*/
.skills{
    backdrop-filter: blur(5px);
}

.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:30px ;
    grid-row-gap: 50px;
}
.skill-bar{
    margin-bottom: 2.3rem;

}

.skill h3{
    margin-bottom:2rem ;
    text-align: center;
    font-size: 1.0rem;
}








 /*breakpoint for responsiveness on all platform */

 @media(max-width:1200px){
 html{
    font-size: 55%;
 }
}

@media(max-width:991px){
    .header{
        padding:2rem 3%;
    }

section{
    padding:10rem 3% 2rem;
}


.footer{
    padding: 2rem 3%;

}
.portfolio{
    padding-bottom: 5rem;
}
.contact{
    min-height:auto;
}


}

@media(max-width:720px){
    #menu-icon{
        display: block;
        
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding:1rem 3%;
        background: transparent;
        backdrop-filter:blur(5px) ;
        box-shadow:  0.5rem ;
        display: none;

    }
  .navbar.active{
    display: block;
    
  }

    .navbar a{
        display:block;
        font-size:2rem;
        margin: 3rem 0;
        
    }

    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 3.6rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: -13%;
    }
    .home-img img{
        width:140vw;
        margin-top:9.5rem;
       
    }
 .about-img img {
   margin:auto;
 }

 .home-img {
    width:80vw;
    margin-right: 10%;
    margin-bottom: 1rem 2;
     
 }

 .home-img .glowing-circle {
    width: 110%;
    height:100%;
    margin: 1rem 2;
 }

 .home-img .glowing-circle::after {
     width: 200%;
     margin: 2rem 2;
 }

 .glowing-circle .image {
     width: 100%;
     margin: 0rem 2
     
 }

 .about{
        flex-direction: column-reverse;
    }
.about img{
    width: 60vw;
}
.services h2{
   margin-bottom: 3rem; 
}
.portfolio h2{
  margin-bottom:3rem;  
}
.portfolio-container{
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width:720px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
        .skill-main{
                grid-template-columns: 1fr;
            }
}

@media(max-width:520px){
    html{
        font-size: 40%;
    }
.contact form .input-box input{
    width: 70%;
}
}
@media(max-width:412px) {
    .home-img img {
        width: 165vw;

    }
}
@media(max-width:360px) {
    .home-img img {
        width: 170vw;
    }
    
  .my-skill .row {
    margin-bottom: 10rem;
      grid-template-columns: 1fr;
  }

}


}






.page__style {
 

  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  margin: auto auto;
  overflow: hidden;
}

.page__style .btn_nav:focus,
.page__style .btn_nav:active {
  outline: none;
}

.animate_content {
  animation: animate 3s ease;
}
.fadeIn {
  z-index: 10;
}
/*  home

/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px;
  }
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
 


 #tv {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#tv {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}









